<!DOCTYPE html>
<html>
<head>
<title>Servlet Admin</title>           
</head>
<body>
    <h1>GESTIONE PAGINA</h1>
    <h2> Azioni sui canali </h2>
    <a href='admin/insert?channel=1'> Inserisci canale </a> 
    <br>
    <a href='admin/edit?channel=1'> Modifica canale </a> 
    <br>
    <a href='admin/delete?channel=0'> Elimina canale </a>
    <h2> Azioni sui programmi </h2>
    <a href='admin/insert?program=1'> Inserisci programma </a> 
    <br>
    <a href='admin/edit?program=1'> Modifica programma </a> 
    <br>
    <a href='admin/delete?program=0'> Elimina programma </a> <br>

    <a href='admin/insert?episode=1'> Inserisci episodi </a> 
    <br>
    <a href='admin/edit?episode=0'> Modifica/Elimina episodio </a> 
    <br>
    <h2> Azioni sui palinsesti </h2>
    <a href='admin/insert?schedule=1'> Inserisci palinsesto </a> 
    <br>
    <a href='admin/edit?schedule=0'> Modifica/Elimina palinsesto </a> 
    <br>
    <br>
    <br>
    <br>
    <a href='admin?sendemail=1'> SEND EMAILS </a>         
</body>
</html>
           