<!DOCTYPE html>
<html>
<head>
<title>Admin</title> 
<#include "common1.ftl.html">
</head>
<body>
    <h1>GESTIONE PAGINA</h1> <br>
    <h2> Azioni sui canali </h2> 
    <br>
    <a href='admin/channels?insert=1'> Inserisci canale </a> 
    <br>
    <a href='admin/channels?edit=1'> Modifica canale </a> 
    <br>
    <a href='admin/channels?delete=0'> Elimina canale </a> 
    <br>
    <br>
    <h2> Azioni sui programmi </h2> <br>
    <a href='admin/programs?insert=1'> Inserisci programma </a> 
    <br>
    <a href='admin/programs?edit=1'> Modifica programma </a> 
    <br>
    <a href='admin/programs?delete=0'> Elimina programma </a> 
    <br>
    <a href='admin/episodes?insert=1'> Inserisci episodi </a> 
    <br>
    <a href='admin/episodes?editdel=0'> Modifica/Elimina episodio </a> 
    <br>
    <br>
    <h2> Azioni sui palinsesti </h2> <br>
    <a href='admin/schedules?insert=1'> Inserisci palinsesto </a> 
    <br>
    <a href='admin/schedules?editdel=0'> Modifica/Elimina palinsesto </a> 
    <br>
    <br>
    <br>
    <br>
    <a href='admin?sendemail=1'> SEND EMAILS </a>   
    <br>
    <br>
    <a href='http://localhost:8080/Guida-tivu/login?logout=1'> Logout </a>   
</body>
</html>
           