<html lang="it_IT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descrizione</title>

    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/canale2.css">

    <!-- Monserrat import from google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>

    <button id="hamburger"></button>
    <div id="menu" class="flex-column">
        <input type="button" value="chiudi" id="chiudi">
        <a href="http://localhost:8080/Guida-tivu/">home</a>
        <a href="http://localhost:8080/Guida-tivu/schedules">schedules</a>
        <a href="http://localhost:8080/Guida-tivu/login">login</a>
        <a href="http://localhost:8080/Guida-tivu/register">registrati</a>
        
    </div>

    <div id="container" class="flex-column between">
           <#include "searchbar.ftl.html">
      
        <div id="guidatv" class="flex-row between">
             <#if channel.image??>
             <p> <img width="230px" height="300px" class="foto" src='${channel.image.link}' alt='image1'/> </p>
             </#if>
            </img>
            <div id="info" class="flex-column between">
                
                <div class="flex-row between">
                    <h1 class="bold">Nome Canale</h1>
                    <h1>${channel.name}</h1>
                </div>
                
                <div class="flex-row between">
                <h1 class="bold">Palinsesto del </h1>
                <h1>${date}</h1>
                </div>
                
               
                     <h1 class="bold">Oggi in Onda</h1>
                     
                     <#list schedule as s>
                      <div class="flex-row between">
                          <h1> <a href='program?id=${s.program.key}'>  ${s.program.name} </a></h1>
                    <h1>  Dalle: <b> ${s.startTime} </b> </h1>
                    <h1>  Alle: <b> ${s.endTime} </b> </h1>
                     </div>
                    </#list>

                    
               
                
          
                
                
            </div>
            <div class="flex-column center text-center">
               
            </div>
        </div>

    </div>

    <script>
        document.getElementById("hamburger").onclick = function (){
            document.getElementById("menu").classList = "showing flex-column";
        }
        document.getElementById("chiudi").onclick = function (){
            document.getElementById("menu").classList = "hiding flex-column";
        }
    </script>
    
</body>
</html>

