<!DOCTYPE html>
<html lang="it_IT">
<head>
    <#include "common1.ftl.html">
    <title>Guida-TV</title>
    <link rel="stylesheet" href="style/index.css">
    <!-- Monserrat import from google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
    <button id="hamburger"></button>
    <div id="menu" class="flex-column">      
        <#include "menu.ftl.html">     
    </div>  
    <div id="container" class="flex-column">
        <#include "searchbar.ftl.html">          
        <div id="index-programmi" class="flex-column">
            <h1> Ora In Onda </h1>             
           <#list onAirPrograms as s>
           <div class="flex-row">
                <h3> <a class="programmi" href = 'channel?id=${s.channel.key}'> ${s.channel.name} </a></h3>
                <h3> Presenta <a class="programmi" href = 'program?id=${s.program.key}'>   ${s.program.name}  </a></h3>  
           </div>
            </#list>
        </div>
    </div>

    <script type="text/javascript" src="script/main.js"></script>
    
</body>
</html>