<!DOCTYPE html>
<html>
<head>
<title>Admin</title>
<#include "commonBackPages.ftl.html">
</head>
<body>
    <h1> Inserimento effettuato </h1>
    <#if var == 1>
        <a href='http://localhost:8080/Guida-tivu/admin/channels?insert=1'> Inserisci di nuovo </a>
    <#elseif var == 2>
        <a href='http://localhost:8080/Guida-tivu/admin/programs?insert=1'> Inserisci di nuovo </a>
    <#elseif var == 3>
        <a href='http://localhost:8080/Guida-tivu/admin/episodes?insert=1'> Inserisci di nuovo </a>
    <#elseif var == 4>
        <a href='http://localhost:8080/Guida-tivu/admin/schedules?insert=1'> Inserisci di nuovo </a>
    </#if>
    <br>
    <br>
    <a href='http://localhost:8080/Guida-tivu/admin'> Torna alla pagina admin </a>
</body>
</html>