<!DOCTYPE html>
<html>
<head>
<title>Admin</title>
<#include "commonBackPages.ftl.html">
</head>
<body>
    <a href='http://localhost:8080/Guida-tivu/admin'> Torna alla pagina di gestione </a>
    <h1> Inserisci un nuovo programma: </h1>
    <form method='post' action='programs?insert=1' accept-charset="utf-8">           
        <input type='text' placeholder='Nome programma' name='programName'>
        <br>
        <br>
        <textarea style='width:171px; height:150px;' id='programDescription' placeholder='Descrizione' name='programDescription'></textarea>
        <br>
        <br>
        <select style='width:177px;' name='genre' id='genre'>
             <#list genres as g>
                <option value = "${g}"> ${g} </option>
             </#list>
        </select>
        <br>
        <br>
        <input type='text' placeholder='Link approfondimento' name='link'>
        <br>
        <br>
        <input type='text' placeholder='Link immagine' name='image'>
        <br>
        <br>
        <select name='serie' id='serie'>
            <option value = ''> Serie? </option>
            <option value = 'false'> No </option>
            <option value = 'true'> Si </option>
        </select>
        <br>
        <br>
        <input type='text' placeholder='Numero stagioni' name='nSeasons'>
        <br>
        <br>
        <button type='submit'>Crea</button>
    </form>
</body>
</html>
    