<!DOCTYPE html>
<html>
<head>
<title>Servlet Insert</title>
</head>
<body>
<h1> Inserimento effettuato </h1>
<#if var == 1>
    <a href='http://localhost:8080/Guida-tivu/admin/insert?channel=1'> Inserisci di nuovo </a>
<#elseif var == 2>
    <a href='http://localhost:8080/Guida-tivu/admin/insert?program=1'> Inserisci di nuovo </a>
<#elseif var == 3>
    <a href='http://localhost:8080/Guida-tivu/admin/insert?episode=1'> Inserisci di nuovo </a>
<#elseif var == 4>
    <a href='http://localhost:8080/Guida-tivu/admin/insert?schedule=1'> Inserisci di nuovo </a>
</#if>
<br>
<br>
<a href='http://localhost:8080/Guida-tivu/admin'> Torna alla pagina admin </a>
</body>
</html>