<!DOCTYPE html>
<html>
<head>
<title>Servlet Insert</title>
</head>
<body>
<h1> Inserisci un nuovo episodio: </h1>
<form method='post' action='insert?episode=1'>
<input type='text' placeholder='Nome episodio' name='episodeName'>
<input type='text' placeholder='Numero stagione' name='seasonNumber'>
<input type='text' placeholder='Numero episodio' name='episodeNumber'>
<select name='p' id='p'>
    
            <#list programs as p>
            <#if p.isSerie?? >
            <option value = "${p.key}"> ${p.name}</option>
            </#if>
            </#list>
            
</select>
<button type='submit'>Crea</button>
</form>
</body>
</html>