<!DOCTYPE html>
<html>
<head>
<title>Admin</title>
</head>
<body>
    <h1> Inserisci un nuovo canale: </h1>
    <form method='post' action='insert?channel=1'>
        <input type='text' id='channelNumber' name='channelNumber' placeholder='Numero Canale'/>
        <br>
        <br>
        <input type='text' id='channelName' name='channelName' placeholder='Nome Canale'/>
        <br>
        <br>
        <input type='text' id='image' name='image' placeholder='Link immagine'/>
        <br>
        <br>
        <input type='submit' name='crea' value='CREA'/>
        <br>
        <br>        
    </form>
</body>
</html>