<!DOCTYPE html>
<html>
<head>
<title>Servlet Insert</title>
</head>
<body>
<h1> Inserisci nuovi episodi: </h1>
<a href='http://localhost:8080/Guida-tivu/admin'> Torna alla pagina di gestione </a>
<form method='post' action='insert?episode=1'>
    Scegli il programma:
    <select name='pr' id='pr'>
    <#list programs as p>
        <#if (p.seasonsNumber >= 1) >
        <option value = "${p.key}"> ${p.name}</option>
        </#if>
    </#list>
    </select>
    Quanti elementi vuoi inserire?
    <input type='text' id='ln' name='ln'>
    <input type='submit' name='select' value='SELEZIONA'/>
</form>
</body>
</html>