<!DOCTYPE html>
<html>
<head>
<title>Servlet Insert</title> 
</head>
<body>
<h1> Inserisci un nuovo palinsesto: </h1>
<a href='http://localhost:8080/Guida-tivu/admin'> Torna alla pagina di gestione </a>
<#if channelSelected??>
    <form method='post' action='insert?schedule=1'>
        Scegli il canale:
        <select name='ch' id='ch'>
            <option value = "${channelSelected.key}"> ${channelSelected.name}</option>
            <#list channels as c>
                <#if (c != channelSelected)>
                <option value = "${c.key}"> ${c.name}</option>
                </#if>
            </#list>
        </select>
        Quanti elementi vuoi inserire?
        <input type='text' id='ln' name='ln'>
        <input type='submit' name='select' value='SELEZIONA'/>
    </form>
    <form method='post' action='insert?schedule=1'> 
        <#list rows as r>
         <input type='text' id='nElem' name='nElem' value='${lNum}' hidden >
         Programma:
         <select name='pr${r}' id='pr'>
            <#list programs as p>    
               <#if (p.seasonsNumber >= 1)>
                   <optgroup label ='${p.name}'>
                       <#list episodes as e>
                          <#if (e.program == p)>
                            <option value = "e${e.key}"> S${e.seasonNumber}E${e.number} ${e.name}</option>
                          </#if>
                       </#list>
                   </optgroup>
               <#else>
                <option value = "${p.key}"> ${p.name}</option>
               </#if>
            </#list>
         </select>
         Ora inizio:
         <input type='time' id='start' name='start${r}'>
         Ora fine:
         <input type='time' id='end' name='end${r}'>  
         Data:
        <input type='date' id='date' name='date${r}'>
        <br>
        </#list>
        <button type='submit'>Crea</button>
    </form>
<#else>
    <form method='post' action='insert?schedule=1'>
        Scegli il canale:
        <select name='ch' id='ch'>
            <#list channels as c>
                <option value = "${c.key}"> ${c.name}</option>
            </#list>
        </select>
        Quanti elementi vuoi inserire?
        <input type='text' id='ln' name='ln'>
        <input type='submit' name='select' value='SELEZIONA'/>
    </form>
</#if>
</body>
</html>
           