<!DOCTYPE html>
<html>
<head>
<title>Admin</title> 
<#include "commonBackPages.ftl.html">
</head>
<body>
<h1> Inserisci un nuovo palinsesto: </h1>
<a href='http://localhost:8080/Guida-tivu/admin'> Torna alla pagina di gestione </a>
<br>
<br>
<#if channelSelected??>
    <form method='post' action='schedules?insert=1' accept-charset="utf-8">
        Scegli il canale:
        <select name='ch' id='ch'>
            <option value = "${channelSelected.key}"> ${channelSelected.name}</option>
            <#list channels as c>
                <#if (c != channelSelected)>
                <option value = "${c.key}"> ${c.name}</option>
                </#if>
            </#list>
        </select>
        Quanti elementi vuoi inserire?
        <input type='text' id='ln' name='ln'>
        <input type='submit' name='select' value='SELEZIONA'/>
    </form>
    <table>
        <tr>
            <th>Programma</th>
            <th>Ora inizio</th>
            <th>Ora fine</th>
            <th>Data</th>
        </tr> 
        <form method='post' action='schedules?insert=1'> 
            <#list rows as r>
            <tr>
                <input type='text' id='nElem' name='nElem' value='${lNum}' hidden >
                <td>
                   <select name='pr${r}' id='pr'>
                      <#list programs as p>    
                         <#if (p.seasonsNumber >= 1)>
                             <optgroup label ='${p.name}'>
                                 <#list episodes as e>
                                    <#if (e.program == p)>
                                      <option value = "e${e.key}"> S${e.seasonNumber}E${e.number} ${e.name}</option>
                                    </#if>
                                 </#list>
                             </optgroup>
                         <#else>
                          <option value = "${p.key}"> ${p.name}</option>
                         </#if>
                      </#list>
                   </select>
                </td>
                <td>
                   <input type='time' id='start' name='start${r}'>
                </td>
                <td>
                   <input type='time' id='end' name='end${r}'> 
                </td>
                <td>
                   <input type='date' id='date' name='date${r}'>
                </td>
            </tr>
            </#list>
    </table>
            <button type='submit'>Crea</button>
        </form>
        
    
<#else>
    <form method='post' action='schedules?insert=1'>
        Scegli il canale:
        <select name='ch' id='ch'>
            <#list channels as c>
                <option value = "${c.key}"> ${c.name}</option>
            </#list>
        </select>
        Quanti elementi vuoi inserire?
        <input type='text' id='ln' name='ln'>
        <input type='submit' name='select' value='SELEZIONA'/>
    </form>
</#if>
</body>
</html>
           