<html lang="it_IT">
<head>
    <#include "common1.ftl.html">
    <title>Login</title>
    <link rel="stylesheet" href="style/login.css">
    <!-- Monserrat import from google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>

    <button id="hamburger"></button>
    <div id="menu" class="flex-column">
        <input type="button" value="chiudi" id="chiudi">
        <a href="http://localhost:8080/Guida-tivu/">home</a>
        <a href="http://localhost:8080/Guida-tivu/schedules">schedules</a>
        <a href="http://localhost:8080/Guida-tivu/register">registrati</a>
    </div>

    
    <form method="post" action="login">
    <div id="container" class="flex-column">
        <#if info??>
            <center> <p style="color:lightgreen;"> ${info} </p></center>
        </#if>
        <input id="username" name="email" type="text" placeholder="EMAIL">
        <input id="password" name="password" type="password" placeholder="PASSWORD">
        <input id="invia" name="login" type="submit" value="Login">
        <#if loginerror??>
            <center> <p style="color:red;"> ${loginerror} </p></center>
        </#if>        
        </form>
    </div>

    

    <script>
        document.getElementById("hamburger").onclick = function (){
            document.getElementById("menu").classList = "showing flex-column";
        }
        document.getElementById("chiudi").onclick = function (){
            document.getElementById("menu").classList = "hiding flex-column";
        }
    </script>
    
</body>
</html>