<!DOCTYPE html>
<html>
    <head>
        <#include "common1.ftl.html">
    </head>
    <body>
        
        <input type="button" value="chiudi" id="chiudi">
        <a href="http://localhost:8080/Guida-tivu/home">home</a>
        <a href="http://localhost:8080/Guida-tivu/schedules">schedules</a>
        
        <#if email??>
        <a href="http://localhost:8080/Guida-tivu/profile">Profilo ${email}</a>
        <a href="http://localhost:8080/Guida-tivu/login?logout=1">LOG-OUT</a>
       
        
        <#else>
         <a href="http://localhost:8080/Guida-tivu/login">login</a>
         <a href="http://localhost:8080/Guida-tivu/register">registrati</a>
         </#if>
         
    </body>
</html>
