<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <input type="button" value="chiudi" id="chiudi">
        <a href="http://localhost:8080/Guida-tivu/home">home</a>
        <a href="http://localhost:8080/Guida-tivu/schedules">schedules</a>
        
        <#if email??>
        <a href="http://localhost:8080/Guida-tivu/profile">Profilo ${email}</a>
        <a href="http://localhost:8080/Guida-tivu/login?logout=1">LOG-OUT</a>
       
        
        <#else>
         <a href="http://localhost:8080/Guida-tivu/login">login</a>
         <a href="http://localhost:8080/Guida-tivu/register">registrati</a>
         </#if>
         
    </body>
</html>
