<!DOCTYPE html>
            <html>
            <head>
            </head>
            <body>
            <h1> Modifica un episodio: </h1>
            <form method='post' action='edit?episode=0'>
            Episodio da modificare          
            <select name='pr' id='pr'>
                
            <option value = "${programSelected.key}">${programSelected.name}</option>
                <#list programs as p>
                
                <#if (p.seasonsNumber>=1)>
                <option value = "${p.key}">${p.name}</option>  
                </#if>
                
                </#list>
            
            </select>
<input type='submit' name='select' value='SELEZIONA'/>
</form>
</body>
</html>
