<!DOCTYPE html>
<html>
<head>
<title>Admin</title>  
<#include "commonBackPages.ftl.html">
</head>
<body>
<h1> Modifica un canale: </h1>
<#if channelSelected??>
<form method='post' action='channels?edit=1' accept-charset="utf-8">
Canale da modificare:
<select name='ch' id='ch'>
          
<option value = "${channelSelected.key}">${channelSelected.name}</option>
           <#list channels as c>
           <#if (c == channelSelected)>
          
           <#else>
            <option value = "${c.key}"> ${c.name} </option>
           </#if>
           </#list>           
            
</select>
<input type='submit' name='select' value='SELEZIONA'/>
</form>
<br>
<br>
<form method='post' action='channels?edit=1'>
<input type='text' id='channelNumber' name='channelNumber' placeholder='Numero Canale' value ="${channelSelected.key}" readonly />
<br>
<br>
<input type='text' id='channelName' name='channelName' placeholder='Nome Canale' value ="${channelSelected.name}"/>
<br>
<br>
<input type='text' id='image' name='image' placeholder='Link immagine' value ="${channelSelected.image.link}"/>
<br>
<br>
<input type='submit' name='edit' value='MODIFICA'/>
<br>
<br>
</form>
<a href='http://localhost:8080/Guida-tivu/admin'>  Torna alla pagina di gestione </a>
<#else>
    <form method='post' action='channels?edit=1'>
    Canale da modificare:
        <select name='ch' id='ch'>
           <#list channels as c>           
                <option value = "${c.key}"> ${c.name} </option>           
           </#list>
        </select>
        <input type='submit' name='select' value='SELEZIONA'/>
    </form>
</#if>
</body>
</html>