
           <!DOCTYPE html>
            <html>
            <head>
                <title> Admin </title>
            </head>
            <body>
                <a href='http://localhost:8080/Guida-tivu/admin'>  Torna alla pagina di gestione </a>
            <h1> Modifica un programma: </h1>
            <#if programSelected??>
            <form method='post' action='programs?edit=1'>
            Programma da modificare:           
            <select name='pr' id='pr'>
                
            <option value = "${programSelected.key}">${programSelected.name}</option>
                 <#list programs as p>
                 <#if (p == programSelected)>
                 <#else>
                 <option value = "${p.key}">${p.name}</option>
                </#if>
                </#list>
                
              
           </select>
           <input type='submit' name='select' value='SELEZIONA'/>
           <br>
           <br>
           </form>
           <form method='post' action='programs?edit=1'>
           <input type='text' name='prog' value="${programSelected.key}" hidden/>
           <input type='text' placeholder='Nome programma' name='programName' value="${programSelected.name}">
           <br>
           <br>
           <textarea style='width:171px; height:150px;' id='programDescription' placeholder='Descrizione' name='programDescription'> ${programSelected.description} </textarea>
           <br>
           <br>
           <select style='width:177px;' name='genre' id='genre'>
           
           <option value = ${programSelected.genre}>${programSelected.genre}</option>
           
           <#list genres as g>
                <#if (g==programSelected.genre)>
                
                <#else>
                  <option value= "${g}" > ${g} </option>
                </#if>
            </#list>
            
           </select>
           <br>
           <br>
            <input type='text' placeholder='Link' name='link' value="${programSelected.link}">
           <br>
           <br>
           <input type='text' id='image' name='image' placeholder='Link immagine' value ="${programSelected.image.link}"/>
           <br>
           <br>
            <#if (programSelected.seasonsNumber >= 1)>
            <input type='text' placeholder='Numero stagioni' name ='nSeasons' value='${programSelected.seasonsNumber}'>
            </#if>
            <br>
            <br>
<button type='submit'>Modifica</button>
</form>
<br>
<br>
<a href='http://localhost:8080/Guida-tivu/admin'> Torna alla pagina di gestione </a>
<#else>
    <form method='post' action='programs?edit=1'>
        Programma da modificare:           
        <select name='pr' id='pr'>
            <#list programs as p>
                <option value = "${p.key}">${p.name}</option>     
            </#list>
        </select>
        <input type='submit' name='select' value='SELEZIONA'/>
    </form>
</#if>
</body>
</html>