
           <!DOCTYPE html>
            <html>
            <head>
            </head>
            <body>
            <h1> Modifica un programma: </h1>
            <form method='post' action='edit?program=1'>
            Programma da modificare:           
            <select name='pr' id='pr'>
                
            <option value = "${programSelected.key}">${programSelected.name}</option>
                 <#list programs as p>
                 <#if (p == programSelected)>
                 <#else>
                 <option value = "${p.key}">${p.name}</option>
                </#if>
                </#list>
                
              
           </select>
           <input type='submit' name='select' value='SELEZIONA'/>
           </form>
           <form method='post' action='edit?program=1'>
           <input type='text' name='prog' value="${programSelected.key}" hidden/>
           <input type='text' placeholder='Nome canale' name='programName' value="${programSelected.name}">
           <input type='text' placeholder='Descrizione' name='programDescription' value="${programSelected.description}">
           <select name='genre' id='genre'>
           <option value = ${programSelected.genre}>${programSelected.genre}</option>
           
           <#list genres as g>
                <#if (g==programSelected.genre)>
                
                <#else>
                  <option value= "${g}" > ${g} </option>
                </#if>
            </#list>
            
           </select>
            <input type='text' placeholder='Link' name='link' value="${programSelected.link}">
            E' una serie?
            
            <#if (p.seasonsNumber >= 1) >
            <input type='radio' name='serie' value='0'> No
            <input type='radio' name='serie' value='1' checked> Sì
            <input type='text' placeholder='Numero stagioni' name='nSeasons' value="${programSelected.seasonNumber}">

            
                
            <#else>
            <input type='radio' name='serie' value='0' checked> No
            <input type='radio' name='serie' value='1'> Sì
</#if>
<button type='submit'>Modifica</button>
</form>
</body>
</html>