<!DOCTYPE html>
            <html>
            <head>
            </title>
            </head>
            <body>
            <h1> Modifica un programma: </h1>
            <form method='post' action='edit?program=1'>
            Programma da modificare:           
            <select name='pr' id='pr'>
                
            <option value = "${programSelected.key}">${programSelected.name}</option>
                <#list programs as p>
                <option value = "${p.key}">${p.name}</option>     
                </#list>

            </select>
<input type='submit' name='select' value='SELEZIONA'/>
</form>
</body>
</html>