<!DOCTYPE html>
<html>
<head>
<title>Profile</title>            
</head>
<body>
<#if confirmed??>
    <a href="confirm?URI=${URI}"> CONFERMA EMAIL </a>
</#if>
       
<h1> PROFILO </h1>
<br><br>
<h3> Email Giornaliera: </h3>
<form method="post" action="profile">
    <label for='channel'> Scegli i tuoi canali preferiti </label>
    <br>
    <select name='channels[]' id='channel' multiple>
    <#list channels as c>
        <option value = '${c.key}'>${c.name}</option>
    </#list>
    </select>
    <br><br>
    <label for='timeslots'> Scegli le fasce orarie </label>
    <br>
    <select name='timeslots[]' id='timeslots' multiple>
    <#list timeslots as timeslot>
        <option value="${timeslot}">${timeslot}</option>
    </#list>
     </select>
     <p> Vuoi ricevere l'email giornaliera?
     <br>
      <input type="radio" name="emailgiornaliera" id="abilita" value="1" />
     <label for='abilita'> Si </label>
     <br>
     <input type="radio" name="emailgiornaliera" id="disabilita" value="0" checked="checked" />
     <label for='disabilita'> No </label>
     <br><br>
     <input type="submit" name="salva" value="SALVA"/>
</form>
<br><br>
<center><h2> Ecco le tue richerche salvate</h2></center>
    <br>
    <table style="width:100%">
    <tr>
      <th>Titolo</th>

      <th>Genere</th>

      <th>Ora inizio minima</th>

      <th>Ora inizio massima</th>

      <th>canale</th>

      <th>Data minima</th>

      <th>Data massima</th>

      <th>Email giornaliera</th>

      <th>Vedi Risultati</th>
       <th>Elimina</th>
    </tr>
    <#list savedS as s>
   

        <tr>
             <td style="text-align:center">${s.title}</td>

             <td style="text-align:center">${s.genre}</td>

             <td style="text-align:center">${s.minStartHour}</td>

             <td style="text-align:center">${s.maxStartHour}</td>

             <td style="text-align:center">${s.channel}</td>

             <td style="text-align:center">${s.startDate}</td>

             <td style="text-align:center">${s.endDate}</td>
        <form method="post" action="profile?daymail=${s.key}">
        <td style="text-align:center">
         <button name='daymailss' type='submit' value='0'>NO</button>
         <button  name='daymailss' type='submit' value='1'>SI</button>
        </td>

        </form>


        <td style="text-align:center"><a href='searchresults?title=${s.title}&genre=${s.genre}&channel=${s.channel}&min=${s.minStartHour}&max=${s.maxStartHour}&date1=${s.startDate}&date2=${s.endDate}'><button> VEDI</button> </a></td>
        <td style="text-align:center">
        <form method="post" action="profile?delSS=${s.key}">


        <input type="submit" name="elimina" value="ELIMINA"/>
        </form>
        </td>
             </tr>
    
    </#list>
        </table>

        <br><br><br>


        <center><h2> Ecco i tuoi programmi preferiti</h2></center>
    <br>
    <table style="width:100%">
    <tr>
      <th>Nome</th>

      <th>Descrizione</th>

      <th>Genere</th>

      <th>Link</th>

      <th>Elimina</th>


    </tr>
    <#list favPrograms as p>
    

        <tr>
             <td style="text-align:center">${p.program.name}</td>

             <td style="text-align:center">${p.program.description}</td>

             <td style="text-align:center">${p.program.genre}</td>

             <td style="text-align:center">${p.program.link}</td>

         <td style="text-align:center">
        <form method="post" action="profile?delprog=${p.key}">


        <input type="submit" name="elimina" value="ELIMINA"/>
        </form>
        </td>


    </#list>
        </table>



    <br><br><br>


     <center><h2> Ecco i tuoi canali preferiti</h2></center>
    <br>
    <table style="width:100%">
    <tr>
      <th>Canale</th>

      <th>Nome</th>

      <th>Fascia Oraria</th>

      <th>Elimina</th>


    </tr>
    <#list favChannels as c>
   
    <#assign before=c.channel.key>
        <!--Integer var = c.getChannel().getKey();-->

        <tr>
        
        <!--if(var != request.getAttribute("canale")){-->
        <#if after??>
            <#if before != after>

                 <td  style="text-align:center">${c.channel.key}</td>

                 <td style="text-align:center">${c.channel.name}</td>
            <#else>
                <td  style="text-align:center"></td>

                 <td style="text-align:center"></td>
            </#if>
        <#else>
           <td  style="text-align:center">${c.channel.key}</td>

           <td style="text-align:center">${c.channel.name}</td> 
        </#if>
             <!--request.setAttribute("canale", c.getChannel().getKey());-->
             <#assign after = c.channel.key>
             <td style="text-align:center">${c.timeSlot}</td>

         <td style="text-align:center">
        <form method="post" action="profile?delch=${c.key}">


        <input type="submit" name="elimina" value="ELIMINA"/>
        </form>



        </td>



    </#list>
        </table>

</body>
</html>
