<html lang="it_IT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>

    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/account.css">

    <!-- Monserrat import from google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;900&display=swap" rel="stylesheet">
</head>
<body>

    <button id="hamburger"></button>
    <div id="menu" class="flex-column">
        <#include "menu.ftl.html"> 
    </div>

    <div id="container">
        <h1>BENVENUTO NEL TUO PROFILO</h1>
        <form method="post" action="profile">
        <div id="form" class="flex-row between">
            <div>
                <h3>Scegli Canali Preferiti</h3>
                <select name='channels[]' id='channel' multiple>
                    <#list channels as c>
                    <option value = '${c.key}'>${c.name}</option>
                    </#list>
                </select>
            </div>
            <div>
                <h3>Scegli Fasce Orarie</h3>
                 <select name='timeslots[]' id='timeslots' multiple>
                    <option value="Genere">Fascia oraria</option>
                    <#list timeslots as timeslot>
                    <option value="${timeslot}">${timeslot}</option>
                     </#list>
                </select>
            </div>
            <div>
                <h3>email giornaliera?</h3>
                <div class="flex-row center">
                    <input type="radio" hidden checked id="si" name="emailgiornaliera" value="1">
                    <label for="si" class="bold" style="background-color: #00ff5571; margin-right: 1rem;">si</label>
                    <input type="radio" hidden id="no" name="emailgiornaliera" value="0">
                    <label for="no" class="bold" style="background-color: #ae00ff71;">no</label>
                </div>
            </div>
            <div>
                <h3><br></h3>
                <input type="submit" value="Invia">
                </form>
            </div>
        </div>

        <h2>ricerche salvate</h2>
        <div class="flex-column">
            <div class="flex-row ricerca" style="margin-bottom: 1rem;">
                <p class="bold">titolo</p>
                <p class="bold">genere</p>
                <p class="bold" style="width: 15%;">ora inizio min</p>
                <p class="bold" style="width: 15%;">ora inizio max</p>
                <p class="bold">canale</p>
                <p class="bold">data min</p>
                <p class="bold">data max</p>

                <p class="bold" style="width: 5%;text-align: center;">elimina</p>
            </div>
            
<#list savedS as s>
<div class="flex-row ricerca">
    <p>${s.title}</p>
    <p>${s.genre}</p>
    <p style="width: 15%;">${s.minStartHour}</p>
    <p style="width: 15%;">${s.maxStartHour}</p>
    <p>${s.channel}</p>
    <p>${s.startDate}</p>
    <p>${s.endDate}</p>
    <a href="#" class="bold" style="width: 5%;text-align: center;">canc</a>
</div>
</#list>
        </div>

        <h2>programmi preferiti</h2>
        <div class="flex-column">
            <div class="flex-row programma" style="margin-bottom: 1rem;">
                <p class="bold">nome</p>
                <p class="bold">genere</p>
                <p class="bold">link</p>
                <p class="bold" style="width: 5%;text-align: center;">elimina</p>
            </div>
           <#list favPrograms as p>
            <div class="flex-row programma">
                <p>${p.program.name}</p>
                <p>${p.program.genre}</p>
                <p> <a href="${p.program.link}" target="_blank" rel="noopener noreferrer"> CLICCA QUI </a> </p>
                <a href="" style="width: 5%;text-align: center;">canc</a>
            </div>
           </#list>
        </div>

        <h2>canali preferiti</h2>
        <div class="flex-column">
            <div class="flex-row canale" style="margin-bottom: 1rem;">
                <p class="bold">canale</p>
                <p class="bold">nome</p>
                <p class="bold">fascia oraria</p>
                <p class="bold" style="width: 5%;text-align: center;">elimina</p>
            </div>
            <#list favChannels as c>
            <div class="flex-row canale">
                <p>${c.channel.key}</p>
                <p>${c.channel.name}</p>
                <p>${c.timeSlot}</p>
                <a href="#" style="width: 5%;text-align: center;">canc</a>
            </div>
           </#list>
        </div>
    </div>

    <script>
        document.getElementById("hamburger").onclick = function (){
            document.getElementById("menu").classList = "showing flex-column";
        }
        document.getElementById("chiudi").onclick = function (){
            document.getElementById("menu").classList = "hiding flex-column";
        }
    </script>
    
</body>
</html>