<html lang="it_IT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descrizione</title>

    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/canale.css">

    <!-- Monserrat import from google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>

    <button id="hamburger"></button>
    <div id="menu" class="flex-column">
        <input type="button" value="chiudi" id="chiudi">
        <a href="http://localhost:8080/Guida-tivu/">home</a>
        <a href="http://localhost:8080/Guida-tivu/schedules">schedules</a>
        <a href="http://localhost:8080/Guida-tivu/login">login</a>
        <a href="http://localhost:8080/Guida-tivu/register">registrati</a>
        
    </div>

    <div id="container" class="flex-column between">
           <#include "searchbar.ftl.html">
      
        <div id="guidatv" class="flex-row between">
             <#if program.image??>
             <p> <img width="230px" height="300px" class="foto" src='${program.image.link}' alt='image1'/> </p>
             </#if>
            </img>
            <div id="info" class="flex-column between">
                
                <div class="flex-row between">
                    <h1 class="bold">Titolo</h1>
                    <h1>${program.name}</h1>
                </div>
                
                <h1 class="bold">Descrizione</h1>
                <p class="bold">${program.description}</p>
                
                <div class="flex-row between">
                    <h1 class="bold">Genere</h1>
                    <h1> ${program.genre}</h1>
                </div>
                
                <#if (program.seasonsNumber >=1)>
                <#list episodes as s>
                <div class="serie">
                    <h2>Ep Num: ${s.episode.number} <b> ${s.episode.name}</b> del <b>${s.date} </b> alle <b>${s.startTime}</b> SU <b> ${s.channel.name} </b> </h2>
                </div>
                </#list>
                </#if>
                
            </div>
            <div class="flex-column center text-center">
                <img style="margin-left: auto; margin-right: auto;" height="100px" width="76px" src="./src/plus.png" alt="">
                <a style="margin-top: 1rem;" href="${program.link}">LINK ESTERNO</a>
            </div>
        </div>

    </div>

    <script>
        document.getElementById("hamburger").onclick = function (){
            document.getElementById("menu").classList = "showing flex-column";
        }
        document.getElementById("chiudi").onclick = function (){
            document.getElementById("menu").classList = "hiding flex-column";
        }
    </script>
    
</body>
</html>

