<html lang="it_IT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guida-TV</title>
    <link rel="stylesheet" href="style/style2.css">
    <link rel="stylesheet" href="style/index2.css">
    <!-- Monserrat import from google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>

    <button id="hamburger"></button>
    <div id="menu" class="flex-column">
        <#include "menu.ftl.html">             
    </div>

    <div id="container" class="flex-column">
         <#include "searchbar.ftl.html">
         
         
         
         <div class="flex-row"  style="Justify-content: space-evenly; padding-top: 5vh;  height: 70vh;">
             <form method="get" action="schedules" style="margin-top: 20vh; margin-left: 5vh">
                 <p> Scegli giorno e fascia oraria </p>
            <label for="tsSelect"></label>
            <select name="tsSelect" id="tsSelect">
                <option value="${timeslot}">${timeslot}</option>
                <#list timeslots as ts>
                    <#if (ts == timeslot)>

                    <#else>
                    <option value="${ts}">${ts}</option>
                    </#if>                  
                </#list>
            </select>
            <br><br>
            <label for="dateSelect"></label>
            <select name='dateSelect' id='dateSelect'>
                <option value="${today}"> Oggi </option>
                <option value="${tomorrow}"> Domani </option>
                <option value="${thirdDay}"> Dopodomani </option>
            </select>
            <br>
            <br>
            <input type="submit" name="s"/>
        </form>
         

        <div id="index-schedule" class="flex-column">
    <#list channels as c>

            <h1> <a href = 'channel?id=${c.key}'> ${c.name}</a> </h1>
            <table>
                <#list schedules as s>           
                    <#if s.channel.name == c.name>
                    <tr>
                        <td><h2>
                            <a href = 'program?id=${s.program.key}'>${s.program.name}
                            <#if s.episode??>
                                (S${s.episode.number} - E${s.episode.number})
                            </#if> 
                            </a> </h2> </td>
                           <td><h2>  Dalle  ${s.startTime}</h2> </td>
                           <td><h2>  alle ${s.endTime}</h2> </td> 
                        </h2> 
                    </tr>
                    </#if>
                </#list>
             </table>
        </#list>
        </div>
</div>
    </div>

     <script type="text/javascript" src="script/main.js"></script>
    
</body>
</html>