<!DOCTYPE html>
<html>
    <head>     
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    </head>
    <body>
        <form action='searchresults' accept-charset="utf-8">
           <div id="ricerca" class="flex-column">
            <div id="ricerca-riga1" class="flex-row between">
                <input type="text" placeholder="Titolo programma" name="title">
                <select name="genre" id="genre">
                    <option value = ''> Scegli il genere </option>
                     <#list genres as g>
                    <option value = "${g}"> ${g} </option>
                    </#list>
                </select>
                <select name="channel" id="channel">
                      <option value = ''> Scegli il canale </option>
                    <#list channels as c>
                    <option value ="${c.name}"> ${c.name} </option>
                    </#list>
                </select>
               Da: <input type='date' id='date1' name='date1'>
            </div>
            <div id="ricerca-riga2" class="flex-row between">
                <input type='time' id='min' name='min'>
                     <input type='time' id='max' name='max'>
               A:  <input type='date' id='date2' name='date2'>
                <input id="cerca" type="submit" value="Ricerca">
               
            </div>
        </div>
            </form>
    </body>
</html>
