


.foto {
    position: absolute;
    top: 80px;
    margin-left: 30px;
    margin-bottom: 80px;
    left: 30px;
    width: 20%;
    height: 50%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .9);
}


.testo {
    color: #ffffff;
    position: relative;
    top: 80px;
    right: -250px;
    text-transform: uppercase ;
   font-size: 12px;
    font-family: 'PT Sans Caption', sans-serif;
}

.centro {
    position: absolute;
    margin-top: 35px;
    left: 600px;
    @include center;
    width: 640px;
    height: 390px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    background: radial-gradient(ellipse farthest-corner at center top, #ffee75, #ff8930)
}

.titolo {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 33px;
    top: 80px;
    left: 250px;
    color: #ffffff;
    background: #252850;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 8px;
    letter-spacing: 1px;
    margin: 0;


}

.genere2 {
    font-family: 'Coda Caption', sans-serif;
    position: absolute;
    left: 60px;
    top: 163px;


}

.altro {
    position: absolute;
    top: 200px;

}


.descrizione2 {
    position: absolute;
    font-size: 14px;
    top: 60px;
    width: 56%;
    text-transform: lowercase;


}



.descrizione {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 60px;
    top: 150px;
    left: 250px;
    color: #ffffff;
    background: #252850;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 8px;
    letter-spacing: 1px;
    margin: 0;


}


.genere {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 35px;
    top: 270px;
    left: 250px;
    color: #ffffff;
    background: #252850;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 8px;
    letter-spacing: 1px;
    margin: 0;


}