<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BaseController</servlet-name>
        <servlet-class>it.univaq.framework.controller.BaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>it.univaq.framework.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lista</servlet-name>
        <servlet-class>it.univaq.framework.controller.Lista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleList</servlet-name>
        <servlet-class>it.univaq.framework.controller.ScheduleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChannelDetail</servlet-name>
        <servlet-class>it.univaq.framework.controller.ChannelDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramDetail</servlet-name>
        <servlet-class>it.univaq.framework.controller.ProgramDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>it.univaq.framework.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>it.univaq.framework.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseController</servlet-name>
        <url-pattern>/base</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lista</servlet-name>
        <url-pattern>/lista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleList</servlet-name>
        <url-pattern>/schedules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChannelDetail</servlet-name>
        <url-pattern>/channel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramDetail</servlet-name>
        <url-pattern>/program</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
